<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dang ky</title>
</head>
<body>
    <form action="/dangky">
        <input type="text" placeholder="Email" name="email">
        <br><br>
        <input type="password" placeholder="Pasword" name="password">
        <br><br>
        <input type="text" placeholder="Name" name="name">
        <br><br>
        <input type="text" placeholder="Phone Number" name="phone">
        <br><br>
        <button>Dang ky</button>
    </form>
</body>
</html>